*-blx.bib
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lod
*.lof
*.log
*.lot
*.out
*.pyg
*.run.xml
*.synctex.gz*
*.toc

figure.pdf
layout.pdf
outline.pdf
table.pdf
thesis.pdf
chap/*.pdf
pieces/*.pdf

.minted-thesis
