*-blx.bib
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lod
*.lof
*.log
*.lot
*.out
*.pyg
*.run.xml
*.synctex.gz*
*.toc

thesis.pdf
table.pdf
figure.pdf
outline.pdf
pieces/*.pdf
chap/*.pdf

.minted-thesis
.minted-outline
.minted-table
.minted-figure
