*-blx.bib
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.pyg
*.run.xml
*.synctex.gz*
*.toc

cover.pdf
figure.pdf
layout.pdf
table.pdf
thesis.pdf
chap/*.pdf
pieces/*.pdf

.minted-*

/correction.pdf
